menu "User Application"

menuconfig USING_EPAPER
    bool    "Using Epaper"
    default n

if USING_EPAPER
    choice 
        prompt "墨水屏在SPI1上的片选"
        config EPAPER_USE_SS0
            bool "片选0(SS0)"
            select BSP_SPI1_USING_SS0
        config EPAPER_USE_SS1
            bool "片选1(SS1)"
            select BSP_SPI1_USING_SS1
        config EPAPER_USE_SS2
            bool"片选2(SS2)"
            select BSP_SPI1_USING_SS2
        config EPAPER_USE_SS3
            bool"片选3(SS3)"
            select BSP_SPI1_USING_SS3
    endchoice

    menuconfig EPAPER_DC_PIN
        int "墨水屏数据/命令控制引脚"
    default 11

    menuconfig EPAPER_X_MAX
        int "墨水屏x轴分辨率"
        default 200
    menuconfig EPAPER_Y_MAX
        int "墨水屏y轴分辨率"
        default 200
    

endif
endmenu
